body{
    margin: 0;
    padding: 0;
    
    
}

#game{

    width:  500px;
    height:  200px;
    border: 1px solid black;
}

#personagem {
    width: 20px;
    height: 50px;
    background-color: red;
    top: 150px;
    position: relative;
   
}

/* #personagem2 {
    width: 20px;
    height: 40px;
    background-color: red;
    top: 80px;
    position: relative;
}
@keyframes personagem2{
    0%{top: 50px;}
    30%{rotate: calc(90deg);}
    70%{top: 50px calc(120deg);}
    100% {top: 80px;};
    
}
.poder{
    animation: personagem2 500ms infinite;  
} */






@keyframes personagem{
    0%{top: 150px;}
    30%{top: 90px;}
    70%{top: 90px;}
    100% {top: 150px;};
    
}

.pulo{
    animation: personagem 500ms infinite;
}

#quadrado{
    width: 20px;
    height: 20px;
    background-color: blue;
    position: relative;
    top: 130px;
    left: 480px;
    animation: quadrado 2s infinite linear;
}

@keyframes quadrado{
    0%{left: 480px;}
    100% {left: -10px;}
}